<div class="container-fluid about-image">
	<div class="row text-center">
		<div class="col-md-6">
			
		</div>
		
	</div>
	
</div>


<h3 class="text-center bg-success">About</h3>



<p>Human Brain Box, is a Utah based company that provides a Database Management System for corporations, offices, and
	sales agents to close more sales. We use our own Database Management System to grow our business marketing by
	referral. We have domains assigned to template websites that are connected to our Database Management System to
	originate leads to resell to our customers.
</p>
	

<p>
	We offer a free 30 day trial for a corporation, office, or sales agent to use experience our Database Management
	System for themselves. Let’s talk. If, you need more than a 30 day trial to make sure our Database Management System
	is right for your business. We will arrange for the needed extra time to decide.

</p>
