<div class="container-fluid background-image">
	<div class="row text-center">
		<div class="col-md-12">

			<div class="container">

				<h1 class="display-1 mainHeader">Community
				</h1>

			</div>

		</div>

	</div>

</div>


<div class="container" style="margin-top: 2%">

	<div class="panel-pane">

		<div class="pane-content">
			<div class="block-headline"><h3>Search Engine Marketing Community</h3>
				<div class="block-description"><p>Having business relationships with like-minded professionals is
					critical in servicing clients and growing revenue. Members in our Search Engine Marketing Community
					are interested in branding their business as an industry leader through search to drive more sales.
					By inviting more Business professionals to join our SEM Community will assist our Members to make
					more professional connections to support each other business.</p></div>
			</div>
		</div>


	</div>

	<div class="panel-pane">


		<div class="pane-content">
			<div class="block-content-wrapper">
				<div class="block-headline"><h3>Free Member</h3></div>
				<div class="block-description"><p>We offer free live/webinar search engine marketing presentations for
					Members on our SEM Community.</p>
					<p>Members in our SEM Community are active in growing their business through search and networking
						with business professionals to refer each other clients. We offer Members free ongoing
						live/webinar training presentations to assist them to grow their business through search engine
						marketing and networking with other professionals.</p>
					<p><a href=""><span class="btn btn-default btn-primary">Learn More</span></a><a
							href=""><span class="btn btn-default btn-primary">Become a Free Member</span></a>
					</p></div>
			</div>
		</div>

	</div>
	

	<div class="panel-pane">


		<div class="pane-content">
			<div class="block-headline"><h3>Industry Leader</h3>
				<div class="block-description">
					<p>An industry leader invites others to join our SEM Community and to attend our ongoing
						live/webinar presentations.</p>
					<p>Industry leader are in the minds of consumers and then try to convince them they have better
						products and services. Usually, their brand name become adopted as an industry leader and
						consumers prefer to buy their products and services. As an industry leader one must maintain
						themselves a trusted source, relationships with influences in that target market, followers,
						industry awards, stay plugged-into technology, and participate in a search engine marketing
						community.</p>
					<p><a href="">
						<span class="btn btn-default btn-primary">Learn More</span></a><a
							href=""><span class="btn btn-default btn-primary">Become a Industry Leader</span></a>
					</p></div>
			</div>
		</div>


	</div>

	<div class="panel-pane">

		<div class="pane-content">
			<div class="block-headline"><h3>Mastermind Leader</h3>
				<div class="block-description"><p>A mastermind leader hosts our ongoing live/webinar search engine
					marketing events for our SEM Community to attend.</p>
					<p>There is synergy, commitment and excitement for those participants belonging to a mastermind
						group. A search engine marketing mastermind leader offers a combination of business connections,
						peer brainstorming, education, accountability and support in a group setting to sharpen business
						and professional skills. A Mastermind Leader hosting our ongoing live/seminar search engine
						marketing events will help them make new connections and bring fresh ideas and training to
						assist business professionals in their ongoing success.</p>
					<p><a href=""><span
							class="btn btn-default btn-primary">Learn More</span></a><a
							href=""><span class="btn btn-default btn-primary">Become a Mastermind Leader</span></a>
					</p></div>
			</div>
		</div>


	</div>


</div>

</div>
