{{!< default}}

	<div class="container-fluid home-image" id="tron">
		<h1>Welcome to HumanBrainBox</h1>
		<p id="slogan">There is no limit to potential when there is passion towards a meaningful movement. Making human connections through technology is not a slogan &#45 it’s our calling.</p>

		
		
	</div>
</div>
