{{!< default}}
<div class="container">
	<div class="jumbotron"><a><img src="http://humanbrainbox.com/sites/default/files/hbb_website_logo_2016_is_back_ground_0.png" width="190px" height="60px"></a>
		<h1>Welcome to HumanBrainBox</h1>
		<p>There is no limit to potential when there is passion towards a meaningful movement. Making human connections through technology is not a slogan &#45 it’s our calling.</p>

		<p><a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a> to use the Admin UI.</p>
		
	</div>
</div>
