{{!< default}}
<div class="container">
	<div class="jumbotron"><img src="http://humanbrainbox.com/sites/default/files/hbb_website_logo_2016_is_back_ground_0.png" width="160">
		<h1>Welcome</h1>
		<h3>Human Brain Box</h3>
			
		
		<p>Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.</p>
		<hr>
		<p>We have created a default Admin user for you with the email <strong>rdzobrist.dev@gmail.com</strong> and the password <strong>hbbHBB</strong>.</p>
		<p><a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a> to use the Admin UI.</p>
		
		\
	</div>
</div>
