{{!< default}}
<div class="container">
	<div class="jumbotron"><img src="http://humanbrainbox.com/sites/default/files/hbb_website_logo_2016_is_back_ground_0.png" width="190px" height="60px">
		<h1>Welcome to HumanBrainBox</h1>
		<p>There is no limit to potential when there is passion towards a meaningful movement. Making human connections through technology is not a slogan; it’s our calling.</p>

		<p>We have created a default Admin user for you with the email <strong>rdzobrist.dev@gmail.com</strong> and the password <strong>admin</strong>.</p>
		<p><a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a> to use the Admin UI.</p>
		
	</div>
</div>
