{{!< default}}
    

   <div class="container-fluid home-image">
   <div class="row text-center">
   <div class="col-md-12">

            <p class="slogan">There is no limit to potential when there is passion towards a meaningful movement. Making human connections through technology is not a slogan &#45 it’s our calling.</p>
            </div>
</div>
            <div class="row text-center">
                <div class="container">
            <div class ="col-xs-6">
            <a href="" class="btn btn-full trydb">Try Our Database</a>
            </div>
            <div class="col-xs-6 text-center">
            <a href="" class="btn btn-ghost freeTrial">Free Trial</a>
            </div>
        </div>

	
</div>
		
		
	</div>
</div>
