{{!< default}}
<div class="container">
	<div class="jumbotron"><img src="http://humanbrainbox.com/sites/default/files/hbb_website_logo_2016_is_back_ground_0.png" width="260">
		<h1>Welcome to Human Brain Box</h1>
			
		
		
		<p>default login info <strong>rdzobrist.dev@gmail.com</strong> and the password <strong>hbbHBB</strong>.</p>
		<p><a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a> to use the Admin UI.</p>
		
		
	</div>
</div>
