<div class="container-fluid background-image">
	<div class="row text-center">
		<div class="col-md-12">

			<div class="container">

				<h1 class="display-1 mainHeader">Trainings
				</h1>

			</div>

		</div>

	</div>

</div>


<div class="container" style="margin-top: 2%">


	<div class="panel-pane">


		<div class="pane-content">

			<div class="field-item even"><h3 class="pane-title">Search Engine Marketing Drives Sales</h3>

				<p>We're taking on the task of tackling the huge topic of training. That's why we have
					ongoing search engine marketing trainings. Our trainings includes marketing through
					Google, Bing and Yahoo and online marketing for both B2B and B2C. We will break down
					our product and services into training courses, topics, best practices and one-time
					and ongoing tasks.</p>
				<p>The bottom line for search engine marketing trainings is to drive more sales for your
					products and services. You may want to increase brand awareness, drive subscribers
					to marketing lists, gain followers to social media, and to sell your product and
					services.</p>
				<p>It's rather geeky with training you will unfold the answers and know the directions
					to grow your business and client base through search engine marketing. Do you want
					to drive additional sales? What are your goals?</p>
			</div>

		</div>

		<div class="panel-pane">


			<div class="pane-content">
				<div class="block-headline">
					<h3>Pro Member Trainings</h3>
				</div>
				<h4 class="pr-detail">$179 / monthly</h4>
				<p>Our database management system and website service includes our Pro Member Service. Get access to
					detailed step-by-step training resource that fit you at your current level of experience. A Pro
					Member is at a different point in their business and experience in search to accomplish their goals.
					A Pro Member has access 24 hours a day to our online easy-to-understand library of search marketing
					training courses.</p>
				<h4>Includes</h4>
				<div class="inc-details">
					<p>Individual Account</p>
					<p>Pro Member Website</p>
				</div>
				<p><a href="pro-member-trial?=8"><span class="btn btn-default btn-primary">Free Trial</span></a></p>
			</div>


		</div>


		<div class="panel-pane">


			<div class="pane-content">
				<div class="block-headline">
					<h3>Pro Member Trainings</h3>
				</div>
				<h4 class="pr-detail">$179 / monthly</h4>
				<p>Our database management system and website service includes our Pro Member Service. Get access to
					detailed step-by-step training resource that fit you at your current level of experience. A Pro
					Member is at a different point in their business and experience in search to accomplish their goals.
					A Pro Member has access 24 hours a day to our online easy-to-understand library of search marketing
					training courses.</p>
				<h4>Includes</h4>
				<div class="inc-details">
					<p>Individual Account</p>
					<p>Pro Member Website</p>
				</div>
				<p><a href="pro-member-trial?=8"><span class="btn btn-default btn-primary">Free Trial</span></a></p>
			</div>


		</div>

		<div class="panel-pane">


			<div class="pane-content">
				<div class="pane-title"><h3>Detailed Step-By-Step Trainings</h3>
					<p>We break up our online search engine marketing training courses as training sections, section
						topics, best practices and tasks. This allows us to create step-by-step trainings to train our
						Pro Members at their current level of experience. These detailed online search engine marketing
						training courses are able to be accessed 24 hours per day.</p></div>
			</div>


		</div>

		<div class="panel-pane">


			<div class="pane-content">
				<div><h3>Live &amp; Webinar</h3><h4>Search Engine Marketing Training Presentations</h4>
					<div class="inc-details"><p>By attending our ongoing live webinar search engine marketing training
						presentations will assist our search engine marketing community to make connections with like
						minded professionals. These ongoing live webinar event explain concepts, processes, tools and
						the best practices in search engine marketing. Our members are Business owners, head of
						marketing department, sales managers, sales agents and marketing agents.</p></div>
				</div>
			</div>


		</div>

		<div class="panel-pane">


			<div class="pane-content">
				<div><h3>Search Engine Marketing</h3><h4>Trainings Courses</h4>
					<div class="inc-details"><p>Our search engine marketing trainings include written discriptions,
						training videos, handouts, best practice checklists, quizzes, for course sections, topics, best
						practices and tasks.</p></div>
				</div>
			</div>


		</div>


	</div>

</div>
