<div class="container-fluid background-image">
	<div class="row text-center">
		<div class="col-md-12">

			<div class="container">

				<h1 class="display-1 mainHeader">Websites
				</h1>

			</div>

		</div>

	</div>

</div>


<div class="container">

	<h3 class="display-4">Websites and Database</h3>

	<hr>


	<p>Whether you are just starting your career or you are a seasoned professional there is one fact you can not argue
		with - you must have a website for your business with a database management system. After all, these two
		marketing channels are a very good way for you get clients and at a high return-on-investment.
	</p>

	<p>
		Our template websites are designed to take data and putting it into a visual display to what you are presenting
		to
		your visitors. The rich imagery help them better remember the point you are making and keep them interested in
		learning more. Think about it - the fact that the human brain processes visual elements 60,000 faster than text
		and
		90 percent of the information transmitted to the human brain is visual. It makes you wonder if a text heavy
		website
		might be causing your visitors to miss your message.

	</p>

	<p>
		We regularly update our template websites to make sure they are top notch quality. You’ll obtain the knowledge
		and skills that will allow you to change the color and typography on our template websites. In the template
		website dashboard you can find our easy-to-use lead management database for you to use to convert leads into
		clients.
	</p>

	<div class="row">

		<div class="websiteBoxes">


			<div class="content">
				<div class="block-headline">Leased Website</div>

				<h2 class="pr-detail">$99 / monthly</h2>

				<h2>Includes</h2>

				<div class="inc-details">
					<p>Lead Management Database</p>

					<p>Free Trainings</p>

					<p>$250 Set-up Fee</p>
				</div>

				<p><a href="/node/190"><span class="btn btn-default btn-primary">Learn More</span></a></p>

				<p><a href="become-website-customer/register?act=5"><span
						class="btn btn-default btn-primary">Free Trial</span></a></p>
			</div>
		</div>

		<div class="websiteBoxes">


			<div class="content">
				<div class="block-headline">Pro Leased Website</div>
				<h2 class="pr-detail">$179 / monthly</h2>
				<h2>Includes</h2>
				<div class="inc-details">
					<p>Individual Account</p>
					<p>Pro Trainings</p>
					<p>$250 Set-up Fee</p>
				</div>
				<p><a href="websites-pro-leased"><span class="btn btn-default btn-primary">Learn More</span></a></p>
				<p><a href="become-website-customer/register?act=6"><span
						class="btn btn-default btn-primary">Free Trial</span></a></p>
			</div>
		</div>

		<div class="websiteBoxes">


			<div class="content">
				<div class="block-headline">WEBSITE &amp; SOCIAL MEDIA</div>
				<h2 class="pr-detail">$1,679 / monthly</h2>
				<h2>Includes</h2>
				<div class="inc-details">
					<p>Individual Account</p>
					<p>Pro Trainings</p>
					<p>$250 Set-Up Fee</p>
				</div>
				<p><a href="#"><span class="btn btn-default btn-primary">Learn More</span></a></p>
				<p><a href="become-website-customer/register?act=7"><span
						class="btn btn-default btn-primary">Free Trial</span></a></p>
			</div>
		</div>

	</div>


</div>
