


#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img {
    display: block;
    max-width: 100%;
}

.slogan  {
	display: block;
	line-height: 1.5;
	position: relative;
	padding-top:20vh;
	font-size:30px
}

// .logo-navbar  {
// 	height: 5vh;
	
// }

div.collapse.navbar-collapse{
	background-color: #fff;

}

a.btn.freeTrial{
	float: left;
}
a.btn.trydb  {
	float: right;
}


.btn.btn-ghost,
.btn.btn-full{
	color:#fff;
	border: 2px solid #ffffff;
	display: inline-block;
	font-size: 20px;
	font-weight: 500;
	min-width: 220px;
	padding: 7px 0;
	position: relative;
	text-decoration: none;
	vertical-align: top;

}
.btn.btn-ghost:hover,
.btn.btn-full:hover{
	background-color: @background-color-nav;
}



 div.container-fluid.home-image  {
	background-image:linear-gradient(rgba(0,.4,0,.59),rgba(.2,1,0,.64)), url('../../images/home_page_1.jpeg');
	height: 72vh;
	background-size: cover;
	background-position: center;
	color:@font-color-nav;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
		
}
.glyphicon.glyphicon-menu-hamburger{
	font-size: 240%;
}
nav#navbar-top-section  {
	
	background-color: @background-color-nav !important;
}

span.navbar-text  {
	color: #fff !important;
	
}

a.nav-link.header-link {
	background-color: @background-color-nav !important;
	display: inline-block !important;
	height: 120%!important;
	float: right!important;

	
}
span.navbar-text.fix {
	margin-top: 2.5%;
}

a.nav-link.header-link:hover  {
	background-color: #fff!important;
	color: @background-color-nav !important;
}

ul.blueBar li:hover a   {
padding: 0 !important;
background-color: #fff;
color: @background-color-nav;
}