#header {
	margin-top: .5px;
	width: 100%;
	
}


#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img {
    display: block;
    max-width: 100%;
}

.slogan  {
	display: block;
	line-height: 1.5;
	position: relative;
	padding-top:20vh;
	font-size:30px
}

.logo-navbar  {
	height: 5vh;
	
}

div.collapse.navbar-collapse{
	background-color: #fff;
	padding:2.5px;
}
ul.navbar-nav.active.blueBar{
	float: right;
	padding-right: 1.5vh;

}
a.btn.freeTrial{
	float: left;
}
a.btn.trydb  {
	float: right;
}
div.container.links-header{
	float: right;

}

.btn.btn-ghost,
.btn.btn-full{
	color:#fff;
	border: 2px solid #ffffff;
	display: inline-block;
	font-size: 20px;
	font-weight: 500;
	min-width: 220px;
	padding: 7px 0;
	position: relative;
	text-decoration: none;
	vertical-align: top;

}
.btn.btn-ghost:hover,
.btn.btn-full:hover{
	background-color: @background-color-nav;
}



 div.container-fluid.home-image  {
	background-image:linear-gradient(rgba(0,.4,0,.59),rgba(.2,1,0,.64)), url('../../images/home_page_1.jpeg');
	height: 72vh;
	background-size: cover;
	background-position: center;
	color:@font-color-nav;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
		
}
.glyphicon.glyphicon-menu-hamburger{
	font-size: 240%;
}