

#header {
	margin-top: .5px;
	width: 100%;
	
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img {
    display: block;
    max-width: 100%;
}

.slogan  {
	display: block;
	padding-top:22vh;
}

.logo-navbar  {
	height: 5vh;
	
}

div.collapse.navbar-collapse{
	background-color: #fff;
	padding:2.5px;
}
ul.navbar-nav.active.blueBar{
	float: right;
	padding-right: 1.5vh;

}




 div.container-fluid.home-image  {
	background-image:linear-gradient(rgba(1,.4,0,.4),rgba(.5,1,0,.75)), url('../../images/home_page_1.jpeg');
	height: 55vh;
	background-size: cover;
	background-position: center;
	color:@font-color-nav;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	

	
}


.navbar.navbar-inverse.navbar-section-bottom   {
	color: @background-color-nav;
	background: @font-color-nav;
	
	font-size: 16px;
	

	
}
.navbar.navbar-inverse.navvers   {
	color: @font-color-nav;
	background: @background-color-nav;
	
	font-size: 16px;
	

	
}
.navbar.navbar-inverse.navvers li{
	padding: 12px;
}
// span.navbar-text.top-header-left  {
// 	padding-bottom: 10px;
// 	text-align: center;

// }
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus  {
	
	color: #ffffff;
	background-color:@background-color-nav;

	
}
.navbar-inverse .navbar-nav>.active>a:hover{
	background-color: #ffffff;
	color: @background-color-nav;
	text-decoration: none;
	
}

.navbar-inverse .navbar-text{
	color: @font-color-nav;
}





.btn.btn-lg.btn-primary  {
	background-color: @button-color;
}

.custom nav.nav-pills :hover{
	background: pink;
}