

#header {
	margin-top: .5px;
	width: 100%;
	
}


#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img {
    display: block;
    max-width: 100%;
}

.slogan  {
	display: block;
	line-height: 1.5;

	padding-top:20vh;
	font-size:30px
}

.logo-navbar  {
	height: 5vh;
	
}

div.collapse.navbar-collapse{
	background-color: #fff;
	padding:2.5px;
}
ul.navbar-nav.active.blueBar{
	float: right;
	padding-right: 1.5vh;

}
a.btn.freeTrial{
	float: left;
}
a.btn.trydb  {
	float: right;
}
div.container.links-header{
	float: right;

}

.btn.btn-ghost,
.btn.btn-full{
	color:#fff;
	border: 2px solid #ffffff;
	display: inline-block;
	font-size: 20px;
	font-weight: 500;
	min-width: 220px;
	padding: 7px 0;
	position: relative;
	text-decoration: none;
	vertical-align: top;

}
.btn.btn-ghost:hover,
.btn.btn-full:hover{
	background-color: @background-color-nav;
}



 div.container-fluid.home-image  {
	background-image:linear-gradient(rgba(1,.4,0,.4),rgba(.5,1,0,.75)), url('../../images/home_page_1.jpeg');
	height: 55vh;
	background-size: cover;
	background-position: center;
	color:@font-color-nav;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	

	
}
// +++++++++++++++++++++++++++++
// blue customer service header__
//++++++++++++++++++++++++++++++++
.navbar.navbar-inverse.navvers   {
	color: @font-color-nav;
	background: @background-color-nav;
	font-size: 16px;
	

	
}
.navbar.navbar-inverse.navvers li{
	padding: 12px;
}
	span.navbar-text.top-header-left  {
 	padding-bottom: 10px;
 	text-align: center;

}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus  {
	
	color: #ffffff;
	background-color:@background-color-nav;

}
.navbar-inverse .navbar-nav>.active>a:hover{
	background-color: #ffffff;
	color: @background-color-nav;
	text-decoration: none;
	
}
.navbar-inverse .navbar-text{
	color: @font-color-nav;
}

.btn.btn-lg.btn-primary  {
	background-color: @button-color;
}

.navbar.navbar-inverse.navvers.navbar-static-top,
nav.collapse.navbar-collapse.toggle-navv,
div.container-fluid{
	margin-bottom: 0px;
	box-sizing: border-box;
}

nav.collapse.navbar-collapse.toggle-navv{
	background-color:#fff;
	margin-bottom: 0px;
	
}

div.container-fluid.home-image {
	margin-bottom: 0px;
	border-top: 3px solid black;
}

li.dropdown  {
	width: 105px;
}

nav.collapse.navbar-collapse.toggle-navv,
header.navbar.navbar-default  {
	padding: 10px auto 0px auto;
	color: black;
	
}

ul.nav.navbar-nav.links  {
	margin-bottom: -80px;
	padding: 12px auto 0px auto;
	color: black;

}

a{
	color:black;
	margin:0px;
	padding: 5px;
	float: right;
}

a.last.leaf  {
	float: right;
}

.first.leaf  {
	// margin-left: 160px;
}

div.container.leaves{
	position: relative;
	left:210px;
	bottom: 25px;
}